<header>
  <section class="container mt-4">
    <div class="border d-flex p-3 justify-content-between align-items-center rounded-4">
      <div class="d-flex align-items-center">
        <img src="\image\téléchargement.png" alt="" style="width: 60px; height: 60px;">
        <h2 class="mx-3">Extensions</h2> 
      </div>
      <div class="mode">
        <app-mode></app-mode>
      </div>
    </div>
  </section>
</header>

<!--main-->
<main>
  <section class="container mt-5 d-none d-xl-block">
   <div class="row">
     <div class="col-md-6">
        <h1 >Extensions List</h1>
     </div>
     <div class="col-md-6 p-2 d-flex justify-content-end gap-3">
      @for (menu of menus; track $index) {
       <span class="">
        <button class="p-2 px-3 rounded-pill border-0 fw-normal"
         [ngClass]="{
          'bg-warning text-dark': menu === ActiveMenu,
          'bg-secondary text-white bg-hover-primary-2 text-hover-all-dark': menu !== ActiveMenu
         }"
         (click)="setActive(menu)">
         {{ menu }}
        </button>
       </span>
      }
     </div>
   </div>
  </section>

  <section class="container mt-5 d-block d-lg-none">
    <div class="row">
     <div class="col-md-6 d-flex justify-content-center">
        <h1 >Extensions List</h1>
     </div>
     <div class="col-md-6 p-2 d-flex justify-content-center gap-3">
      @for (menu of menus; track $index) {
       <span class="">
        <button class="p-2 px-3 rounded-pill border-0 fw-normal"
         [ngClass]="{
          'bg-warning text-dark': menu === ActiveMenu,
          'bg-secondary text-white bg-hover-primary-2 text-hover-all-dark': menu !== ActiveMenu
         }"
         (click)="setActive(menu)">
         {{ menu }}
        </button>
       </span>
      }
     </div>
    </div>
  </section>

  <section> 
  @if (ActiveMenu === "Add") {
     <div class="container my-4">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    @for (user of users; track $index) {
      <div class="col">
        <div class="card p-4 rounded-5 h-100">
          <div class="card-body d-flex">
           <img src="\image\téléchargement.png" alt="" class="border rounded-3" style="height: 50px; width: 50px;">
           <div class="card-title mx-2">
            <h3 class="text-dark">{{user.name}}</h3>
            <p class="text-dark">{{user.description}}</p>
           </div>
          </div>
          <div class="d-flex align-items-center justify-content-between">
           <button class="btn border rounded-pill text-dark">Remove</button>
           <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="">
           </div>
          </div>
        </div>
      </div>
    }
    </div>
    </div>
  }
   @if (ActiveMenu ==="Active") {
    <div class="container mt-5">
    <h2 class="mb-4 text-center">Public Holidays in Canada in 2025</h2>

   <div class="row row-cols-1 row-cols-md-3 g-4">
    @for (holiday of holidays; track $index) {
      <div class="col">
        <div class="card h-100 shadow-sm p-3 rounded-5">
          <div class="card-body">
            <h5 class="card-title">{{ holiday.name }}</h5>
            <p class="card-text mt-3"><strong>Date:</strong> {{ holiday.date }}</p>
            <p class="card-text"><strong>Day:</strong> {{ holiday.day }}</p>
            <p class="card-text"><strong>Type:</strong> {{ holiday.type }}</p>
          </div>
        </div>
      </div>
    }
  </div>
  </div>
  }
  </section>
</main>